<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" (ngSubmit)="onFormSubmit()">
    <div class="registration-form">

      <div class="form__control">
        <label for="name">Name</label>
        <input 
          type="text" 
          id="name" 
          name="name" 
          placeholder="Input text" 
          formControlName="name"
          required
        />
        <span class="text-danger" 
          *ngIf="registrationForm.get('name')?.hasError('required') && (registrationForm.get('name')?.touched || registrationForm.get('name')?.dirty)">
          Name is required.
        </span>
        <span class="text-danger" 
          *ngIf="registrationForm.get('name')?.hasError('minlength') && (registrationForm.get('name')?.touched || registrationForm.get('name')?.dirty)">
          Name must be at least 6 characters.
        </span>
      </div>

      <div class="form__control">
        <label for="email">Email</label>
        <input 
          type="email" 
          id="emailInput" 
          name="email" 
          placeholder="Input text" 
          formControlName="email"
          required
          emailValidator
        />
        <div *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.touched || registrationForm.get('email')?.dirty)" class="text-danger">
          <span *ngIf="registrationForm.get('email')?.hasError('required')">
            Email is required.
          </span>
          <span *ngIf="registrationForm.get('email')?.hasError('invalidEmail')">
            Please enter a valid email.
          </span>
        </div>
      </div>

      <div class="form__control">
        <label for="password">Password</label>
        <input 
          type="password"
          id="passwordInput"
          name="password"
          placeholder="Input text"
          formControlName="password"
          required
        />
        <div 
        *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.touched || registrationForm.get('password')?.dirty)" 
        class="text-danger"
        >
          <span *ngIf="registrationForm.get('password')?.hasError('required')">
            Password is required.
          </span>
        </div>
      </div>

    </div>
    <div class="form__action">
      <app-button buttonText="Register" type="submit"></app-button>
    </div>
    <div class="form__text">
      If you have an account you may <strong>Login</strong>
    </div>
  </form>
</div>