<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" (ngSubmit)="onFormSubmit()">
    <div class="registration-form">
      <div class="form__control">
        <label for="name">Name</label>
        <input 
          type="text" 
          id="name" 
          name="name" 
          placeholder="Input text" 
          formControlName="name"
        />
        <span 
          class="text-danger" 
          *ngIf="registrationForm.get('name')?.errors?.['required'] && (registrationForm.get('name')?.dirty || registrationForm.get('name')?.touched)">
          This field is required.
        </span>
        <span 
          class="text-danger" 
          *ngIf="registrationForm.get('name')?.errors?.['minlength'] && (registrationForm.get('name')?.dirty || registrationForm.get('name')?.touched)">
          Name must be at least 6 characters.
        </span>
      </div>
      <div class="form__control">
        <label for="email">Email</label>
        <input 
          type="email" 
          id="emailInput" 
          name="email" 
          placeholder="Input text" 
          formControlName="email"
          emailValidator
        />
        <div
          *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)"
          class="text-danger"
        >
          <span *ngIf="registrationForm.get('email')?.errors?.['required']">
            Email is required.
          </span>
          <span *ngIf="registrationForm.get('email')?.errors?.['invalidEmail']">
            Please enter a valid email.
          </span>
        </div>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input 
          type="password"
          id="passwordInput"
          name="password"
          placeholder="Input text"
          formControlName="password"
        />
        <div
          *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)"
          class="text-danger"
        >
          <span *ngIf="registrationForm.get('password')?.errors?.['required']">
            Password is required.
          </span>
        </div>
      </div>
    </div>
    <div class="form__action">
      <app-button buttonText="Register" type="submit"></app-button>
    </div>
    <div class="form__text">
      If you have an account you may <strong>Login</strong>
    </div>
  </form>
</div>