<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="login-form">

      <div class="form__control">
        <label for="email">Email</label>
        <input
          type="text"
          id="emailInput"
          name="email"
          placeholder="Input text"
          [(ngModel)]="email"
          #emailModel="ngModel"
          required
          emailValidator
        />

        <div
          *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)"
          id="emailErrorMessage"
          class="text-danger"
        >
          <span *ngIf="emailModel.errors?.['required']">Email is required.</span>
          <span *ngIf="emailModel.errors?.['invalidEmail']">Invalid email format.</span>
        </div>
      </div>

      <div class="form__control">
        <label for="password">Password</label>
        <input
          type="password"
          id="passwordInput"
          name="password"
          placeholder="Input text"
          [(ngModel)]="password"
          #passwordModel="ngModel"
          required
        />

        <div
          *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)"
          id="passwordErrorMessage"
          class="text-danger"
        >
          <span *ngIf="passwordModel.errors?.['required']">Password is required.</span>
        </div>
      </div>

      <div class="form__action">
        <app-button buttonText="Login" type="submit"></app-button>
      </div>

      <div class="form__text">
        If you don't have an account you may <strong> <a href="register">Registration</a></strong>
      </div>
    </div>
  </form>
</div>
<app-modal [showModal]="showModal" [title]="modalTitle" [message]="modalMessage" (close)="closeModal()"></app-modal>