.app-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.userName {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  gap: 8px;
}